{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">

  <div id="content">
    <div class="album">

      {% if order is not None %}
        <span class="badge pull-right">
          <div class="current-cart-items-title">
            Заказ №{{order.id}}:
            <a class="btn btn-info btn-block" id="orderSelection" data-bs-toggle="dropdown" aria-expanded="false" href="{{ order.get_absolute_url }}">
              <div class="check-title">Выбрать заказ:</div>
            </a>
            <selection class="dropdown-menu" id="orderDropdown" name="orderDropdown">
              {% for ord in all_orders %}
                <li><a class="dropdown-item" href="{{ ord.get_absolute_url }}">Заказ №{{ord.id}}</a></li>
              {% endfor %}
            </selection>
          </div>
        </span>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Изображение</th>
              <th scope="col">Товар</th>
              <th scope="col">Кол-во</th>
              <th scope="col">Цена одного товара</th>
              <th scope="col">Сумма</th>
            </tr>
          </thead>
          <tbody>
            {% for item in order_items %}
              {% with product=item.product %}
                <tr class="headings">
                  <th scope="row">
                    <img src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}"
                    alt="..." style="height: 130px; width: auto">
                  </th>
                  <td>{{ product.name }}</td>
                  <td> {{ item.quantity }} шт.</td>
                  <td> {{ item.price }} ₽</td>
                  <td> {{ item.get_cost }} ₽</td>
                </tr>
              {% endwith %}
            {% endfor %}
            <tr>
              <td><b>Суммарная стоимость</b></td>
              <td colspan="3"></td>
              <td colspan="num"><b> {{ order.get_total_cost }} ₽</b></td>
            </tr>
          </tbody>
        </table>
      {% else %}
        <span class="badge pull-right">
          <div class="current-cart-items-title">
            Заказов нет
        </span>
      {% endif %}
    </div>
    {% if order is not None %}
    <div class="card-body" style="display: flex;
    flex-wrap: wrap; justify-content: center; align-items: center;">
      <div class="card" style="width: 300 px; margin-bottom: 10px; margin-top: 20px;">
          <img src="/media/qr/{{ order.id }}.png" class="card-img-top" style="height: 300px; width: 300px;" alt="...">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Статус заказа: {% if order.ready %} Готов! {% else %} Не готов {% endif %}</li>
            {% if not order.ready and orders_before %}<li class="list-group-item">Ваш заказ в очереди: {{orders_before}}</li> {% endif %}
            {% if order.in_cafe %}<li class="list-group-item">Вы выбрали стол: №{{current_table.number}}</li>
            <li class="list-group-item">Бронь с: {{order.reserve_time}}</li>
            {% endif %}
          </ul>
      </div>
      {% endif %}
      
    </div>
  </div>
  <div class="row">
    <div class="col p-2">
      <a href="{% url 'shop:product_list' %}" class="btn btn-outline-success btn-block btn-lg">Заказать еще</a>
    </div>
  </div>
</div>
{% endblock %}