{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="container">
    <div class="company-title">О КОМПАНИИ</div>
    <div class="" style="border: 2px solid green; border-radius: 10px; margin-bottom: 100px;">
        <div class="name-company">Кейтеринбург - федеральный оператор питания</div>
        <div class="name-company">Мы одни из ТОП-5 российских аутсорсеров общественного питания</div>
    </div>
    <ol class="list-group list-group">
        <li class="list-group-item">18 лет на рынке корпоративного питания</li>
        <li class="list-group-item">более 4000 человек – численность сотрудников</li>
        <li class="list-group-item">250 000 гостей  – кормим ежедневно </li>
        <li class="list-group-item">более 700  объектов в управлении  </li>
        <li class="list-group-item">2 страны – территория присутствия: Россия, Армения </li>
    </ol>
    <footer class="bg-body-tertiary text-center" style="margin-top: 140px;">
        <!-- Copyright -->
        <div class="text-center p-3">
          © СберКафе:
          <div class="text-body">Забайкальский край 2023</div>
        </div>
        <!-- Copyright -->
    </footer>
</div>

{% endblock %}