{% load static %}
<div id="user-order" class="modal fade">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <div>
              <div class="row">
                <div class="infortmation-about-order">
                    <div class="items-in-cart">
                        Вы заказали: 
                    </div>
                    <div class="when-it-ready">
                        Ваш заказ будет готов:
                    </div>
                    <div class="location">
                        Где можно забрать заказ:
                    </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>